onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=cpu-features
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=ssh2
